
.popular hr{
   width: 200px;
   display: flex;
   margin: auto;
   border-radius: 10px;
   background: #252525;
   margin-bottom: 25px;
   margin-bottom: 30px;
}
.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}